.article {
    position: relative;
    max-width: 940px;
    min-width: 100vh;
    height: 140px;
    background-color: #FFF;
    margin: 0 auto;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 25px;

    

label {
    // width: 60px;
    display: flex;
    cursor: pointer;
    padding-left: 1.2em;
    input {
        width: 20px;
        height: 20px;
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;

    }

    .custom__checkbox {
        position: absolute;
       width: 16px;
       height: 17px;
       margin-left: -1.4em;
    background-repeat: no-repeat;
        background-position: center center;
       background-image:   url('./Vector.svg');
    }
    input:checked + .custom__checkbox {
        background-image:   url('./Hart.svg');
    }

}

    h2 {
        color: #1890FF;
        font-size: 20px;
        margin-right: 10px;
    }
    .tag {
        display: inline-block;
        border: 1px solid black;
        padding: 2px;
        margin-bottom: 5px;
        margin-right: 5px;
    }
    .title {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        width: 700px;
    }
    .like {
       
        
    }
    .total__like {
        font-size: 12px;
    }
    .text {
        width: 685px;
        font-size: 12px;
        line-height: 22px;
    }
    .user {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 15px;
        right: 15px;

        .user__info {
            display: flex;
            margin-bottom: 30px;
        }
        .user__name {
            font-size: 18px;
            margin-right: 12px;
        } 
        .user__date {
            font-size: 12px;
            color: grey;
        }
        .user__img {
            // width: 45px;
            // height: 45px;
            img {
                width: 45px;
                height: 45px;
                border-radius: 25px;
            }
        }
        .delete {
            width: 78px;
            height: 32px;
            color: red;
            outline: none;
            border: 1px solid red;
            background-color: white;
            border-radius: 5px;
            margin-right: 10px;
            cursor: pointer;
        }

        .edit {
            width: 65px;
            height: 32px;
            color: #52C41A;
            outline: none;
            border: 1px solid #52C41A;
            background-color: white;
            border-radius: 5px;
            cursor: pointer;
        }
        
    }
    
}

.example {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    border-radius: 4px;
  }

  .modal{
      position: absolute;
      width: 240px;
      height: 105px;
      background-color: white;
      padding: 12px 16px;
      border-radius: 8px;
      box-shadow: 6px 7px 19px -3px;
      right: -152px;
      top: 90px;

      .button__block {
          display: flex;
          justify-content: flex-end;
      }
      img {
          margin-right: 5px;
          width: 14px;
          height: 14px;
          margin-bottom: 3px;
      }
      .no {
          width: 35px;
          height: 25px;
          border-radius: 8px;
          outline: none;
          border: 1px solid grey;
          margin-right: 5px;
          background-color: white;
      }
      .yes {
          width: 40px;
          height: 25px;
          border-radius: 8px;
         border: 1px solid grey;
         background-color: white;
      }

      .no:hover {
          background-color: #1890FF;
          color: white;
      }
      .yes:hover {
        background-color: #1890FF;
        color: white;
    }
  }

  .modal__title {
     margin-bottom: 10px;
  }